@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

:root {
  --pixel-size: 8;
}

/* WELCOME PAGE + LOADER */

html {
  background: #ab6b8d;
}

.welcome-page {
  display: block;
  height: 100vh;
  background: #ab6b8d;
}

.welcome-page.inactive {
  display: none;
}

.centered {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lambda-logo {
  max-width: 35vw;
}

.btn {
  max-width: 20vw;
  image-rendering: pixelated;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.btn:hover {
  transform: translateY(-40%);
}

.lambda-logo.active {
  animation: disappear-up 0.6s ease-in-out;
}

@keyframes disappear-up {
  0% {
    opacity: 1;
  }

  100% {
    transform: translateY(-40px);
    opacity: 0;
  }
}

.btn.active {
  animation: disappear-down 0.7s ease-in-out;
}

@keyframes disappear-down {
  0% {
    opacity: 1;
  }

  100% {
    transform: translateY(40px);
    opacity: 0;
  }
}

.loader {
  display: none;
}

.loader.active {
  height: 100vh;
  display: block;
  animation: appear 0.7s ease-in-out;
  background: #ab6b8d;
  overflow: hidden;
}

/* CHARACTER FROM THE LOADER */

.Character-loader {
  width: calc(32px * var(--pixel-size));
  height: calc(32px * var(--pixel-size));
  overflow: hidden;
  margin: 4em auto;
  position: relative;
}

.Character_spritesheet-loader {
  animation: moveSpritesheet 1s steps(4) infinite;
  width: calc(128px * var(--pixel-size));
  position: absolute;
}

.Character_shadow-loader {
  position: absolute;
  width: calc(32px * var(--pixel-size));
  height: calc(32px * var(--pixel-size));
}

.Character-loader.activecharacter {
  animation: character-loader-down 5s linear;
}

@keyframes character-loader-down {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateY(130vh);
  }
}

/* LETTERS */

.horizontal-letters {
  font-family: "Press Start 2P", cursive;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.horizontal-letters.out {
  animation: disappear-right 0.6s linear;
}

.letter {
  text-shadow: -1px 0 black, 0 5px black, 1px 0 black, 0 -1px black;
  color: white;
  animation: letter-anim 3.3s linear infinite;
  image-rendering: pixelated;
  letter-spacing: 5px;
}

@keyframes letter-anim {
  0% {
    transform: translateY(0px);
  }
  30% {
    transform: translateY(70px);
  }
  55% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0px);
  }
}

.letter:nth-child(1) {
  animation-delay: 0.1s;
}
.letter:nth-child(2) {
  animation-delay: 0.2s;
}
.letter:nth-child(3) {
  animation-delay: 0.3s;
}
.letter:nth-child(4) {
  animation-delay: 0.4s;
}
.letter:nth-child(5) {
  animation-delay: 0.5s;
}
.letter:nth-child(6) {
  animation-delay: 0.6s;
}
.letter:nth-child(7) {
  animation-delay: 0.7s;
}

.pixelart {
  image-rendering: pixelated;
}

@keyframes disappear-right {
  0% {
    opacity: 1;
  }

  100% {
    transform: translateX(+40px);
    opacity: 0;
  }
}

/*  */

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Press Start 2P", cursive;
}

.main-site {
  display: none;
  opacity: 0;
}

.main-site.active {
  display: block;
  animation: 0.5s appear 0.2s ease-in forwards;
}

.container {
  max-width: 70rem;
  padding: 0 2rem;
  margin: 0 auto;
}

header {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: #905c84;
}

header:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}

header img {
  image-rendering: pixelated;
}

.first-trees {
  position: absolute;
  bottom: 0px;
  width: 100vw;
  right: 0;
  z-index: 20;
}

.second-trees {
  position: absolute;
  width: 100vw;
  min-height: 100px;
  bottom: 0px;
  z-index: 19;
}

.first-mountain {
  position: absolute;
  width: 100vw;
  bottom: 0px;
  z-index: 18;
}

.second-mountain {
  position: absolute;
  width: 100vw;
  bottom: 0px;
  z-index: 17;
}

.sky-background {
  position: absolute;
  object-fit: cover;
  width: 100vw;
  top: 0px;
  z-index: 16;
  object-fit: contain;
}

nav {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100%;
  padding: 1rem 0;
  z-index: 30;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}

.big-title {
  position: absolute;
  z-index: 30;
  line-height: 4rem;
  top: calc(50% - 2rem);
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}

.about {
  position: relative;
  background-color: #151515;
  max-width: 100vw;
  min-height: 110vh;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -70%);
  display: none;
  opacity: 1;
}

.title {
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  opacity: 0;
  transform: translateX(-40px);
  animation: 0.5s appear 0.2s ease-in forwards;
  /* transition: transform 0.2s ease-in forwards; */
}

.text {
  text-justify: center;
  padding-top: 20px;
  line-height: 2rem;
  width: 40vw;
  opacity: 0;
  transform: translateY(60px);
  animation: 0.5s appear 0.3s ease-in forwards;
}

.border {
  position: absolute;
  width: 30%;
  height: 3px;
  background-color: white;
  opacity: 0;
  animation: 0.5s appear 0.5s ease-in forwards;
}

.shadow {
  position: absolute;
  bottom: 100%;
  height: 40px;
  width: 100%;
  left: 0;
  z-index: 20;
  background: linear-gradient(to top, #151515, transparent);
}

.img-container {
  position: absolute;
  transform: translateY(-90px);
}

.opacity {
  opacity: 0;
}

/* SKILLS SECTION  */

.skills {
  width: 100%;
  background-color: #151515;
  position: relative;
  z-index: 1;
}

.skills-container {
  height: 60vh;
  flex-direction: column;
}

.skill-title {
  opacity: 0;
  display: none;
  text-align: center;
  padding-bottom: 2rem;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  transform: translateY(-30px);
  animation: 0.5s appear 0.2s ease-in forwards;
}

.skill-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 25px;
}

.lang-icon {
  display: none;
  opacity: 0;
  max-height: 15vh;
  height: 12vh;
  transform: translateX(-20px);
  animation: 0.5s appear 0.2s ease-in forwards;
}

.lang-text {
  display: none;
  opacity: 0;
  margin-bottom: 10px;
  font-size: 16px;
  letter-spacing: 3px;
  transform: translateX(20px);
  animation: 0.5s appear 0.18s ease-in forwards;
}

.first-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-shadow {
  position: absolute;
  bottom: 0px;
  height: 40px;
  width: 100%;
  left: 0;
  z-index: 20;
  background: linear-gradient(to top, #16303c, transparent);
}

/* PROJECTS SECTION */

.projects {
  position: relative;
  height: 100vh;
  z-index: 1;
}

.layer-one {
  position: relative;
  height: 100vh;
  bottom: 0px;
  background-image: url("https://res.cloudinary.com/dncemocxu/image/upload/v1626717066/Parallax/demon%20woods%20layers/parallax-demon-woods-bg_cck9kd.png");
  z-index: 17;
  background-repeat: repeat;
  overflow-x: hidden;
  image-rendering: pixelated;

  animation-name: scroll;
  animation-duration: 80s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  background-position: 0 0;
}
.layer-two {
  position: relative;
  height: 100vh;
  bottom: 100%;
  background-image: url("https://res.cloudinary.com/dncemocxu/image/upload/v1626717066/Parallax/demon%20woods%20layers/parallax-demon-woods-far-trees_k6dcnc.png");
  z-index: 18;
  background-repeat: repeat;
  overflow-x: hidden;
  background-size: cover;
  image-rendering: pixelated;

  animation-name: scroll;
  animation-duration: 70s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  background-position: 0 0;
}
.layer-three {
  position: relative;
  height: 100vh;
  bottom: 200%;
  background-image: url("https://res.cloudinary.com/dncemocxu/image/upload/v1626717066/Parallax/demon%20woods%20layers/parallax-demon-woods-mid-trees_o2kvg4.png");
  z-index: 19;
  background-repeat: repeat;
  overflow-x: hidden;
  background-size: cover;
  image-rendering: pixelated;

  animation-name: scroll;
  animation-duration: 80s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  background-position: 0 0;
}
.layer-four {
  position: relative;
  height: 100vh;
  bottom: 300%;
  background-image: url("https://res.cloudinary.com/dncemocxu/image/upload/v1626717066/Parallax/demon%20woods%20layers/parallax-demon-woods-close-trees_gs9w9h.png");
  z-index: 20;
  background-repeat: repeat;
  overflow-x: hidden;
  background-size: cover;
  image-rendering: pixelated;

  animation-name: scroll;
  animation-duration: 90s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  background-position: 0 0;
}

.projects-container {
  position: relative;
  height: 100vh;
  bottom: 400%;
  display: flex;
}

.gallery {
  width: 100%;
  position: absolute;
  height: 100vh;
  padding-top: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-shrink: 1;
}

.title-section {
  padding-bottom: 0.5rem;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  position: absolute;
  bottom: 85%;
  left: 50%;
  transform: translate(-50%, -85%);
  z-index: 30;
}

.project-container {
  position: relative;
  height: 20vh;
  width: 17vw;
  z-index: 100;
  margin: 1em 3em;
}

.project-container img {
  border: 1px solid white;
  width: 17vw;
  height: 20vh;
  object-fit: cover;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.project-container:hover img {
  transform: scale(1.1);
}

.project-info-container {
  opacity: 0;
  border: 1px solid white;
  position: absolute;
  top: 0px;
  width: 17vw;
  height: 20vh;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
}

.project-info-container:hover {
  cursor: pointer;
  opacity: 1;
  transform: scale(1.1);
}

.project-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: black;
  opacity: 0.9;
}

.project-info > * {
  padding-top: 0.8em;
}

.project-info p {
  font-size: 0.8em;
  text-align: center;
  line-height: 1.4em;
}

/* CONTACT SECTION  */

.contact {
  height: 50vh;
  background-color: black;
}

.contact-title {
  padding-top: 100px;
  text-align: center;
  letter-spacing: 0.5em;
  text-transform: uppercase;
}

.contact-container {
  margin: 6vh 35%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact-container img {
  image-rendering: pixelated;
  width: 4vw;
  max-width: 6vw;
  transition: transform 0.3s ease-in-out;
}

.contact-container img:hover {
  transform: scale(1.2);
}

.contact-shadow {
  height: 40px;
  z-index: 20;
  background: linear-gradient(to bottom, #16303c, transparent);
}

.thanks {
  text-align: center;
  font-size: 0.8em;
}

/* ANIMATIONS */

/* APPEAR */

.active {
  display: block;
}

@keyframes appear {
  0% {
    opacity: 0;
    /* transform: translateX(-40px); */
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
    transform: translateY(0px);
  }
}

/* SCROLL */

@keyframes scroll {
  from {
    background-position: 0 0;
  }
  /*use negative width if you want it to flow right to left else and positive for left to right*/
  to {
    background-position: -1000vh 0;
  }
}

/* ANIMATED CHARACTER */

.Character {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -70%);
  width: calc(32px * var(--pixel-size));
  height: calc(32px * var(--pixel-size));
  overflow: hidden;
  margin: 4em auto;
}

.Character_spritesheet {
  animation: moveSpritesheet 1s steps(4) infinite;
  width: calc(128px * var(--pixel-size));
  position: absolute;
}
.Character_shadow {
  position: absolute;
  width: calc(32px * var(--pixel-size));
  height: calc(32px * var(--pixel-size));
}

.pixelart {
  image-rendering: pixelated;
}

.face-right {
  top: calc(-32px * var(--pixel-size));
}
.face-up {
  top: calc(-64px * var(--pixel-size));
}
.face-left {
  top: calc(-96px * var(--pixel-size));
}

.Character.going-right {
  animation: character-right 2s linear forwards;
}

.Character.going-down {
  animation: character-down 1.5s linear forwards;
}
.Character.going-left {
  animation: character-left 1.5s linear forwards;
}

@keyframes character-right {
  0% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
  }

  100% {
    top: 50%;
    left: 50%;
    transform: translate(140%, -70%);
  }
}

@keyframes character-down {
  0% {
    top: 50%;
    left: 50%;
    transform: translate(140%, -70%);
  }

  100% {
    top: 50%;
    left: 50%;
    transform: translate(140%, 60%);
  }
}

@keyframes character-left {
  0% {
    top: 50%;
    left: 50%;
    transform: translate(140%, 60%);
  }

  100% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, 60%);
  }
}

@keyframes moveSpritesheet {
  from {
    transform: translate3d(0px, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

/* MEDIA QUERIES */

@media (max-width: 1000px) {
  .big-title {
    font-size: 1.2em;
  }

  .about {
    min-height: 90vh;
  }

  .title {
    font-size: 1.5em;
    text-align: center;
    text-justify: center;
  }
  .border {
    display: none;
  }

  .text {
    width: 80vw;
    text-align: center;
    text-justify: center;
  }
  .img-container {
    display: none;
  }

  .about .container {
    display: flex;
    flex-direction: column;
  }

  .content {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    opacity: 1;
  }

  .skills-container {
    height: 40vh;
    flex-direction: column;
  }

  .skill-container {
    padding: 15px;
  }

  .skill-title {
    opacity: 1;
    display: block;
  }
  .lang-icon {
    display: block;
    opacity: 1;
    height: 7vh;
    transform: translateX(-20px);
    animation: 0.5s appear 0.2s ease-in forwards;
  }

  .lang-text {
    display: block;
    opacity: 1;
    font-size: 10px;
    letter-spacing: 1.5px;
    transform: translateX(20px);
    animation: 0.5s appear 0.18s ease-in forwards;
    margin: 1px 0;
  }

  .title-section {
    margin-bottom: 50px;
    text-align: center;
    text-justify: center;
  }

  .project-container {
    position: relative;
    height: 15vh;
    width: 30vw;
    z-index: 100;
  }

  .project-container img {
    border: 1px solid white;
    height: 15vh;
    width: 30vw;
    object-fit: cover;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
  }
  .project-info-container {
    opacity: 0;
    border: 1px solid white;
    position: absolute;
    top: 0px;
    height: 15vh;
    width: 30vw;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
  }

  .contact-container {
  }

  .contact-container img {
    width: 6vw;
    max-width: 10vw;
  }

  .thanks {
    font-size: 0.6em;
    line-height: 1.7em;
  }
}

@media (max-width: 500px) {
  header {
    height: 800px;
  }
  .title {
    font-size: 20px;
  }

  h3,
  h2 {
    font-size: 20px;
  }

  .text {
    font-size: 13px;
  }

  .skill-container {
    padding: 5px;
  }

  .lang-icon {
    display: block;
    opacity: 1;
    height: 5vh;
    transform: translateX(-20px);
    animation: 0.5s appear 0.2s ease-in forwards;
  }

  .lang-text {
    display: block;
    opacity: 1;
    font-size: 9px;
    letter-spacing: 1.2px;
    transform: translateX(20px);
    animation: 0.5s appear 0.18s ease-in forwards;
    margin: 1px 0;
  }

  .project-container {
    position: relative;
    height: 12vh;
    width: 25vw;
    z-index: 100;
    margin: 20px;
  }

  .project-container img {
    border: 1px solid white;
    height: 12vh;
    width: 25vw;
    object-fit: cover;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
  }
  .project-info-container {
    opacity: 0;
    border: 1px solid white;
    position: absolute;
    top: 0px;
    height: 12vh;
    width: 25vw;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
  }

  .project-info {
    display: none;
  }

  .gallery {
    width: 100vw;
    position: absolute;
    height: 100vh;
    padding-top: 15vw;
  }

  .thanks {
    font-size: 0.6em;
    line-height: 1.7em;
  }
}
