@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

:root {
  --pixel-size: 8;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Press Start 2P", cursive;
}

.container {
  max-width: 70rem;
  padding: 0 2rem;
  margin: 0 auto;
}

header {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: #905c84;
}

header:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}

header img {
  image-rendering: pixelated;
}

.first-trees {
  position: absolute;
  bottom: 0px;
  width: 100vw;
  right: 0;
  z-index: 20;
}

.second-trees {
  position: absolute;
  width: 100vw;
  min-height: 100px;
  bottom: 0px;
  z-index: 19;
}

.first-mountain {
  position: absolute;
  width: 100vw;
  bottom: 0px;
  z-index: 18;
}

.second-mountain {
  position: absolute;
  width: 100vw;
  bottom: 0px;
  z-index: 17;
}

.sky-background {
  position: absolute;
  object-fit: cover;
  width: 100vw;
  top: 0px;
  z-index: 16;
  object-fit: contain;
}

nav {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100%;
  padding: 1rem 0;
  z-index: 30;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}

.big-title {
  position: absolute;
  z-index: 30;
  line-height: 4rem;
  top: calc(50% - 2rem);
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}

.about {
  position: relative;
  background-color: #151515;
  max-width: 100vw;
  min-height: 120vh;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
  opacity: 1;
}

.title {
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  opacity: 0;
  transform: translateX(-40px);
  animation: 0.5s appear 0.2s ease-in forwards;
  /* transition: transform 0.2s ease-in forwards; */
}

.text {
  text-justify: center;
  padding-top: 20px;
  line-height: 2rem;
  width: 40vw;
  opacity: 0;
  transform: translateY(60px);
  animation: 0.5s appear 0.3s ease-in forwards;
}

.border {
  position: absolute;
  width: 30%;
  height: 3px;
  background-color: white;
  opacity: 0;
  animation: 0.5s appear 0.5s ease-in forwards;
}

.shadow {
  position: absolute;
  bottom: 100%;
  height: 40px;
  width: 100%;
  left: 0;
  z-index: 20;
  background: linear-gradient(to top, #151515, transparent);
}

.img-container {
  position: absolute;
  transform: translateY(-90px);
}

.opacity {
  opacity: 0;
}

/* SKILLS SECTION  */

.skills {
  width: 100%;
  background-color: #151515;
  position: relative;
  z-index: 1;
}

.skills-container {
  height: 60vh;
  flex-direction: column;
}

.skill-title {
  opacity: 0;
  display: none;
  text-align: center;
  padding-bottom: 2rem;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  transform: translateY(-30px);
  animation: 0.5s appear 0.2s ease-in forwards;
}

.skill-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 25px;
}

.lang-icon {
  display: none;
  opacity: 0;
  max-height: 15vh;
  height: 12vh;
  transform: translateX(-20px);
  animation: 0.5s appear 0.2s ease-in forwards;
}

.lang-text {
  display: none;
  opacity: 0;
  margin-bottom: 10px;
  font-size: 16px;
  letter-spacing: 3px;
  transform: translateX(20px);
  animation: 0.5s appear 0.18s ease-in forwards;
}

.first-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-shadow {
  position: absolute;
  bottom: 0px;
  height: 40px;
  width: 100%;
  left: 0;
  z-index: 20;
  background: linear-gradient(to top, #16303c, transparent);
}

/* PROJECTS SECTION */

.projects {
  position: relative;
  height: 100vh;
  z-index: 1;
}

.layer-one {
  position: relative;
  height: 100vh;
  bottom: 0px;
  background-image: url("https://res.cloudinary.com/dncemocxu/image/upload/v1626717066/Parallax/demon%20woods%20layers/parallax-demon-woods-bg_cck9kd.png");
  z-index: 17;
  background-repeat: repeat;
  overflow-x: hidden;
  image-rendering: pixelated;

  animation-name: scroll;
  animation-duration: 80s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  background-position: 0 0;
}
.layer-two {
  position: relative;
  height: 100vh;
  bottom: 100%;
  background-image: url("https://res.cloudinary.com/dncemocxu/image/upload/v1626717066/Parallax/demon%20woods%20layers/parallax-demon-woods-far-trees_k6dcnc.png");
  z-index: 18;
  background-repeat: repeat;
  overflow-x: hidden;
  background-size: cover;
  image-rendering: pixelated;

  animation-name: scroll;
  animation-duration: 70s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  background-position: 0 0;
}
.layer-three {
  position: relative;
  height: 100vh;
  bottom: 200%;
  background-image: url("https://res.cloudinary.com/dncemocxu/image/upload/v1626717066/Parallax/demon%20woods%20layers/parallax-demon-woods-mid-trees_o2kvg4.png");
  z-index: 19;
  background-repeat: repeat;
  overflow-x: hidden;
  background-size: cover;
  image-rendering: pixelated;

  animation-name: scroll;
  animation-duration: 80s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  background-position: 0 0;
}
.layer-four {
  position: relative;
  height: 100vh;
  bottom: 300%;
  background-image: url("https://res.cloudinary.com/dncemocxu/image/upload/v1626717066/Parallax/demon%20woods%20layers/parallax-demon-woods-close-trees_gs9w9h.png");
  z-index: 20;
  background-repeat: repeat;
  overflow-x: hidden;
  background-size: cover;
  image-rendering: pixelated;

  animation-name: scroll;
  animation-duration: 90s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  background-position: 0 0;
}

.projects-container {
  position: relative;
  height: 100vh;
  bottom: 400%;
  display: flex;
}

.gallery {
  width: 100%;
  position: absolute;
  height: 100vh;
  padding: 4vw;
}

.gallery .title {
  position: absolute;
  z-index: 30;
}

/* ANIMATIONS */

/* APPEAR */

.active {
  display: block;
}

@keyframes appear {
  0% {
    opacity: 0;
    /* transform: translateX(-40px); */
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
    transform: translateY(0px);
  }
}

/* SCROLL */

@keyframes scroll {
  from {
    background-position: 0 0;
  }
  /*use negative width if you want it to flow right to left else and positive for left to right*/
  to {
    background-position: -1000vh 0;
  }
}

/* ANIMATED CHARACTER */

.Character {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(32px * var(--pixel-size));
  height: calc(32px * var(--pixel-size));
  overflow: hidden;
  margin: 4em auto;
}

.Character_spritesheet {
  animation: moveSpritesheet 1s steps(4) infinite;
  width: calc(128px * var(--pixel-size));
  position: absolute;
}
.Character_shadow {
  position: absolute;
  width: calc(32px * var(--pixel-size));
  height: calc(32px * var(--pixel-size));
}

.pixelart {
  image-rendering: pixelated;
}

.face-right {
  top: calc(-32px * var(--pixel-size));
}
.face-up {
  top: calc(-64px * var(--pixel-size));
}
.face-left {
  top: calc(-96px * var(--pixel-size));
}

.Character.going-right {
  animation: character-right 2s linear forwards;
}

.Character.going-down {
  animation: character-down 1.5s linear forwards;
}
.Character.going-left {
  animation: character-left 1.5s linear forwards;
}

@keyframes character-right {
  0% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  100% {
    top: 50%;
    left: 50%;
    transform: translate(140%, -50%);
  }
}

@keyframes character-down {
  0% {
    top: 50%;
    left: 50%;
    transform: translate(140%, -50%);
  }

  100% {
    top: 50%;
    left: 50%;
    transform: translate(140%, 80%);
  }
}

@keyframes character-left {
  0% {
    top: 50%;
    left: 50%;
    transform: translate(140%, 80%);
  }

  100% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, 80%);
  }
}

@keyframes moveSpritesheet {
  from {
    transform: translate3d(0px, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

/* MEDIA QUERIES */

@media (max-width: 850px) {
  header {
    height: 70vh;
  }

  .about .container {
    display: flex;
    flex-direction: column;
  }
}
